@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap');
*{
    margin:0;
    padding: 0;
    /* font-family: 'poppins', 'san-serif'; */
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
}

:root{
   /* --background:rgb(46, 45, 45); */
   background-color: black;
   --backgroundone: rgb(21, 21, 21);
   --txtcolor:#fff;
   --txtcolor2:#fff;
   --hveff:blue;
   --spancl:blue;
   --spancl2:blue;
   --spancl3:blue;
   --spancl4:blue;
   --abtcl:#ababab;
   --divbackgrd:#262626;
   --switchcl:white;
   --headtext:white;
   --typed: black;
   --logo: black;
  

}
.auto{
    font-family: 'Barlow Condensed', sans-serif;
}
.theme{
    --background:rgb(188, 188, 188);
    --backgroundone:rgb(177, 177, 177);
    --txtcolor:black;
    --txtcolor2:white;
    --hveff:blue;
    --spancl:blue;
    --spancl2:grey;
    --spancl3:black;
    --spancl4:white;
    --abtcl: black;
    --divbackgrd:rgb(213, 211, 211);
    --switchcl:black;
    --headtext:blue;
    --typed: blue;
    --logo: white;
 

}
#btn-scroll{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 200px;
    height: 200px;
    border-radius:50% ;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    z-index: 999;
}
#scrollup{
    color: var(--spancl3);
    font-size: 100px;
}

html{
    scroll-behavior: smooth;
}
header{
    /* border: 1px solid red; */
    padding: 0px 10px 0px 20px;
   
}
.Hello{
    /* color: black; */
    color: var(--spancl3);
}

.typing::after{
    content: "";
    position: absolute;
    /* right: -20px; */
    width: 5px;
    height: 80%;
    border-right: 10px solid ;
    
    animation: blink 1s infinite ease
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body{
    background-color: var(--background);
    color: var(--txtcolor);
    /* border: 1px solid red; */
}
#logo h1{
    font-family: 'Pattaya', sans-serif;
    font-weight: 700;
    font-size: 150px;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/trialanderror.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 0px 0px 0%;
}   
#header .container{
    padding: 10px 5% 0px 5%;
}

#body{
    padding: 10px 10% 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */

}
.logo{
    width: 150px;

}
nav ul{
    margin-left:200px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
 

 
}

nav ul li a{
    text-decoration: none;
    font-size: 45px;
    /* color: var(--headtext); */
    color: white;
    font-weight: 600;
    position: relative;
    letter-spacing: 2px;
    
}
nav ul li a::after{
    content: '';
    width:0 ;
    height: 3px;
    background: var(--spancl4);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
 .header-text{
    margin-top: 15%;
    font-size: 80px;
    font-family: 'Barlow Condensed', sans-serif;

}
.header-text .typed{
    color: var(--typed);
    font-family: 'Barlow Condensed', sans-serif;
}

.header-text span{
    color:white ;
}

#about{
    padding: 80px 0;
    color:var(--abtcl);
    
}
#about p{
    font-size: 40px;
    width: calc(100% - 0.5);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
    width: 100%;
    
}
.about-col-1{
    flex-basis: 30%;
   
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 65%;
}
.sub-title{
    font-size: 70px;
    font-weight: 600px;
}
.tab-titles{
    display: flex;
    margin: 30px 0 40px;
}
.tab-links{
    margin-right: 60px;
    font-size: 45px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: var(--hveff);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 60%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0px ;
    font-size: 40px;
    font-weight: 400;

}
.tab-contents ul li span{
    color: var(--spancl);
    font-size:35px ;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

#services{
    padding: 30px 0;
}
/* .services-list{
    display: ;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top:50px ;
} */
.services-list{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    width: 90%;
    /* margin: auto; */
}
.services-list div{
    background-color: var(--divbackgrd);
    width: 90%;
    height:100%;
    padding: 40px;
  
    font-weight: 700px;
    border-radius: 10px;
    text-align: justify;
    transition: background 0.5s, transform 0.5s;
    
}

.services-list div i{
    font-size: 75px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 60px;
    font-weight: 500px;
    margin-bottom: 15px;

}
.services-list div p{
    font-size: 40px;
}
.services-list div a{
    text-decoration: none;
    color:var(--txtcolor);
    font-size: 35px;
    margin-top: 20px;
    display: inline-block;
    color:peru;
    font-weight: 600;
}
.services-list div:hover{
    background-color:var(--hveff) ;
    transform: translateY(-15px);
}
.serve-title{
    text-align: left;
    margin-bottom: 10px;
}
#portfolio{
    padding: 50px 0;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.work-list{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    margin-top:50px ; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 30px;
    width: 90%;
    /* margin: auto; */
    /* border: 1px solid green; */

}
.work-list2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 70px; 
    width: 90%;
    /* border: 1px solid green; */
    /* margin: auto; */
    margin-top: 70px;
    

}
.work-list2{
    display: none;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
    width: 100%;
    
}
.work img{
    width: 100%;
    height: 850px;
    border-radius:10px ;
    display: block;
    transition: transform 0.5s;
}
.work-list2 .work img{
    height: 800px;
}
#port.show-more .work-list2{
    display: grid;

}
.layout{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.3), blue);
    border-radius: 10px;
    font-size: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s; 
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layout{
    height: 100%;
}
.layout h3{
    font-weight: 500px;
    margin-bottom: 20px;
    font-size: 45px;
    color: var(--txtcolor2);
}
.layout p{
    font-size: 30px;
    color: var(--txtcolor2);
}
.layout a{
    margin-top: 20px;
    color: blue;
    font-size: 35px;
    background: var(--txtcolor2);
    width: 80px;
    height: 80px;
    text-decoration: none;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.MeMe{
    width: 80%;
    text-align: justify;
}
.btn{
    display: block;
    width: fit-content;
    border: 4px solid var(--spancl);
    text-decoration: none;
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--spancl3) ;
    transition: background 0.5s;
}
.subbtn{
    margin: 50px auto;
}
.cvbtn{
    margin-top: 30px;
}

.btn:hover{
    background: var(--spancl);
    color:black;
    
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-left{
    flex-basis: 35%;

}
.contact-left p{
    margin-top: 30px;
}
.contact-left p a{
    margin-top: 30px;
    font-size: 40px;
    text-decoration: none;
    color: var(--txtcolor);
}
.contact-left p i{
    color: var(--spancl);
    margin-right: 15px;
    font-size: 60px;
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a {
    text-decoration:none;
    font-size: 70px;
    /* display:none; */
    margin-right:30px ;
    color:var(--abtcl) ;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--spancl);
    transform: translateY(-5px);
}
.btn.btn2{
    display: block;
  
    
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background-color: var(--divbackgrd);
    padding: 15px;
    color:var(--txtcolor) ;
    margin: 15px 0;
    font-size: 40px;
    border-radius: 6px;
}
form .btn2{
    padding: 10px 50px;
    font-size: 45px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}
.copy-right{
    width: 100%;
    text-align: center;
    padding:25px 0px;
    background: var(--divbackgrd);
    font-weight: 300;
    margin-top: 20px;

}
nav .fa-solid{
    display: none;
}
.copy-right i{
    color: var(--spancl);
}
.mode{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}
.light{
    font-size: 50px;
    font-family: monospace;
}
#icon{
    font-size: 50px;
    display: block;
}
#lights{
    font-size: 40px;
    font-family: monospace;
}
#icons{
    font-size: 40px;
    display: block;
}
.work-list2{
    display: none;
}
p{
    font-size: 18px;
}


.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 75px;
    height: 9px;
    margin: 15px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--txtcolor);
    border-radius: 2px;
    z-index: 999;
    position: relative;

}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

}

header{
    display: none;
}

#msg{
    color: #61b752;
    margin-top: -50px;
    display: block;
    font-size: 30px;
}
.fa-skills{
    font-size: 350px;
    margin: auto;
    
}

.fa-html5{
    color: orange;
    transition:transform 0.5s;
}
.fa-html5:hover{
    transform: scale(1.1)
}
.fa-css3-alt{
    color: blue;
    transition:transform 0.5s;
}
.fa-css3-alt:hover{
    transform: scale(1.1)
}
.fa-square-js{
    color: rgb(200, 200, 67);
    transition:transform 0.5s;
}
.fa-square-js:hover{
    transform: scale(1.1)
}
.fa-vuejs{
    color: rgb(18, 121, 18);
    transition:transform 0.5s;
}
.VueJs{
    transition:transform 0.5s; 

}

.VueJs:hover{
    transform: scale(1.1)
}
.fa-github{
    font-size: 350px;
    transition:transform 0.5s;

}
.fa-github:hover{
    transform: scale(1.1)

}
.fa-git-alt{
    color: brown;
    
    transition:transform 0.5s;
}
.Javascript h2{
    font-size: 60px;
}
.git h2{
    font-size: 60px;
}
.html h2{
    font-size: 60px;
}
.VueJs h2{
    font-size: 60px;
}
.github h2{
    margin-top: 20px;
    font-size: 60px;
}
.css h2{
    font-size: 60px;
}
.fa-git-alt:hover{
    transform: scale(1.1)
}
.image7{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
















@media screen and (max-width: 1550px) {
    .mode{
        /* border: 1px solid red; */
        margin-left:auto;
        margin-right: 50px;
    }
    .header-text{
        margin-top: 25%;
        font-size: 70px;
        padding-top:20px;
        font-family: 'Barlow Condensed', sans-serif;
    }
    nav ul li{
        display: block;
        list-style: none;
        margin: 50px 30px;
     
    
     
    }
  
    .fa-bars{
        font-size: 55px;
    
    }
    #logo h1{
        font-family: 'Pattaya', sans-serif;
        font-weight: 700;
        font-size: 120px;
    }
    #header{
        width: 100%;
        height: 100vh;
        background-image: url(images/trialanderror.jpg);
        background-size: cover;
        background-position: center;

        padding-top: 10px;
    }   

    #lights{
        font-size: 50px;
        font-family: monospace;
    }
    #icons{
        font-size: 45px;
        display: block;
    }


    nav ul li a{
        text-decoration: none;
        font-size: 30px;
        color: white;
        position: relative;
       
        
    }
    
    nav .fa-solid{
        display: block;
        font-size: 75px;
    }
    nav ul{
        background:var(--spancl2);
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
 
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 30px;
        cursor: pointer;
    }
    .span1{
        font-size: 45px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 600;
        color: white;
        margin-right: 10px;
    }
    .nav-link{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 300;
        color: white;
    }
    .services-list div{
        background-color: var(--divbackgrd);
        padding: 50px;
        width: 100%;
        font-size: 18px;
        font-weight: 700px;
        border-radius: 10px;
        text-align: justify;
        transition: background 0.5s, transform 0.5s;
        
    }
    .services-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 30px;
        width: 80%;
        margin: auto;
    }
    .services-list div h2{
        font-size: 70px;
        letter-spacing: 5px;
        font-weight: 700px;
        margin-bottom: 15px;
    }
    .services-list div p{
        font-size: 35px;
    }
    .services-list div i{
        font-size: 120px;
    }
    .services-list div a{
        text-decoration: none;
        color:var(--txtcolor);
        font-size: 35px;
        margin-top: 20px;
        display: inline-block;
        color:peru;
        font-weight: 600;
    }
    .services-list div:hover{
        background-color:var(--hveff) ;
        transform: translateY(-15px);
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 70px;
        margin-top:50px ;
        margin: auto;

    
    }
    .work-list2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 70px;
        margin: auto;
        margin-top:70px ;
        
    }
    .work-list2{
        display: none;
        
    }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background-color: var(--divbackgrd);
        padding: 15px;
        color:var(--txtcolor) ;
        margin: 15px 0;
        font-size: 45px;
        border-radius: 6px;
    }
    .serve-title{
        text-align: center;
    }
    .work img{
        width: 100%;
        height: 1000px;
        border-radius:10px ;
        display: block;
        transition: transform 0.5s;
    }
    .work-list2 .work img{
        height: 1000px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        /* border: 1px solid red; */
        width: 100%;
        height: 1000px;
        
    }
    .about-col-1, .about-col-2{
        flex-basis:  100% ;
        /* border: 1px solid red; */
    }

    .about-col-1{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .Myname{
        text-align: center;
    }
    header{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(30px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-16px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0,0,0,0.7);
        backdrop-filter: blur(10px);
        width: 100%;
        text-align: center;
        padding-left: 35px;
        transition: 0.2s ease-in-out;
        display: flex;
        align-items: center;
        padding-top: 150px ;
      
    }
    .nav-item{
        margin: 70px 0;
    }
    .nav-menu.active{
        right: 0;
    }
    .nav-link{
        font-size: 55px;
        color: white;
        /* font-weight: 700; */
    
    

}
.navigation{
    display: none;
}
.dark-mode{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.line{
    width: 90%;
    height: 1px;
    background-color: grey;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid var(--spancl);
    text-decoration: none;
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--spancl3) ;
    transition: background 0.5s;
}
.btn:hover{
    background: var(--spancl);
    color:black;
    
}

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p a{
    margin-top: 30px;
    font-size: 40px;
    text-decoration: none;
    color: var(--txtcolor);
}
.contact-left p i{
    color: var(--spancl);
    margin-right: 15px;
    font-size: 60px;
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a {
    text-decoration:none;
    font-size: 75px;
    margin-right:25px ;
    color:var(--abtcl) ;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--spancl);
    transform: translateY(-5px);
}
.btn.btn2{
    display: block;
    
}
.contact-right form{
    width: 100%;
}

form .btn2{
    padding: 14px 30px;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}
.copy-right{
    width: 100%;
    text-align: center;
    padding:25px 0px;
    background: var(--divbackgrd);
    font-weight: 300;
    margin-top: 20px;

}
#body{
    padding: 10px 5%;
  
    
}
    #portfolio{
        padding: 50px 0;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .work-list{
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 40px;
        margin-top:50px ; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        margin-top: 30px;
        width: 100%;
        flex-direction: column;
        /* margin: auto; */
        /* border: 1px solid green; */
    
    }
    .work-list2{
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
        grid-gap: 70px;
        margin-top:70px ;
        padding: 0px 17%;
    }
    .work-list2{
        display: none;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        /* border: 1px solid red; */
        width: 700px;
        
    }
    .work img{
        width: 700px;
        height: 100%;
        border-radius:10px ;
        display: block;
        transition: transform 0.5s;
    }
    .work-list2 .work img{
        height: 100%;
    }
    #port.show-more .work-list2{
        display: grid;
    
    }
    .layout{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.3), blue);
        border-radius: 10px;
        font-size: 17px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        transition: height 0.5s; 
    }
    .work:hover img{
        transform: scale(1.1);
    }
    .work:hover .layout{
        height: 100%;
    }
    .layout h3{
        font-weight: 500px;
        margin-bottom: 20px;
        font-size: 45px;
        color: var(--txtcolor2);
    }
    .layout p{
        font-size: 35px;
        color: var(--txtcolor2);
    }
    .layout a{
        margin-top: 20px;
        color: blue;
        font-size: 35px;
        background: var(--txtcolor2);
        width: 80px;
        height: 80px;
        text-decoration: none;
        line-height: 60px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .row2{
        display: block;
     
    }
   
    .MeMe{
        width: 95%;
        text-align: justify;
        font-size: 35px;
        
        
    }
    .fa-skills{
        font-size: 300px;
        margin: auto;
        
    }
    .css h2{
        font-size: 50px;
    }
    .fa-html5{
        color: orange;
        transition:transform 0.5s;
    }
    .fa-html5:hover{
        transform: scale(1.1)
    }
    .fa-css3-alt{
        color: blue;
        transition:transform 0.5s;
    }
    .fa-css3-alt:hover{
        transform: scale(1.1)
    }
    .fa-square-js{
        color: rgb(200, 200, 67);
        transition:transform 0.5s;
    }
    .fa-square-js:hover{
        transform: scale(1.1)
    }
    .fa-vuejs{
        color: rgb(18, 121, 18);
        transition:transform 0.5s;
    }
    .VueJs{
        transition:transform 0.5s; 
    
    }
    
    .VueJs:hover{
        transform: scale(1.1)
    }
    .fa-github{
        font-size: 300px;
        transition:transform 0.5s;
    
    }
    .fa-github:hover{
        transform: scale(1.1)
    
    }
    .fa-git-alt{
        color: brown;
        
        transition:transform 0.5s;
    }
    .Javascript h2{
        font-size: 50px;
    }
    .git h2{
        font-size: 50px;
    }
    .html h2{
        font-size: 50px;
    }
    .VueJs h2{
        font-size: 50px;
    }
    .fa-git-alt:hover{
        transform: scale(1.1)
    }
    .image7{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        text-align: center;
        margin-top: 30px;
    }
    .github h2{
        margin-top: 20px;
        font-size: 50px;
    }
}











@media screen and (max-width: 1000px){
    .mode{
        /* border: 1px solid red; */
        margin-left:auto;
        margin-right: 50px;
    }
    .header-text{
        margin-top: 35%;
        font-size: 50px;
        padding-top:20px;
        font-family: 'Barlow Condensed', sans-serif;
    }
    nav ul li{
        display: block;
        list-style: none;
        margin: 50px 30px;
     
    
     
    }

    .fa-bars{
        font-size: 55px;
    
    }
    #logo h1{
        font-family: 'Pattaya', sans-serif;
        font-weight: 700;
        font-size: 120px;
    }
    #header{
        width: 100%;
        height: 100vh;
        background-image: url(images/trialanderror.jpg);
        background-size: cover;
        background-position: center;

        padding-top: 10px;
    }   
    #body{
        padding: 0px;
    }
    #lights{
        font-size: 50px;
        font-family: monospace;
    }
    #icons{
        font-size: 45px;
        display: block;
    }
    .MeMe{
        width: 95%;
        text-align: justify;
        
    }
    nav ul li a{
        text-decoration: none;
        font-size: 30px;
        color: white;
        position: relative;
       
        
    }
    
    nav .fa-solid{
        display: block;
        font-size: 75px;
    }
    nav ul{
        background:var(--spancl2);
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
 
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 30px;
        cursor: pointer;
    }
    .services-list div{
        background-color: var(--divbackgrd);
        padding: 50px;
        width: 100%;
        font-size: 18px;
        font-weight: 700px;
        border-radius: 10px;
        text-align: justify;
        transition: background 0.5s, transform 0.5s;
        
    }
    .services-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 30px;
        width: 90%;
        margin: auto;
    }
    .services-list div h2{
        font-size: 60px;
        font-weight: 500px;
        margin-bottom: 15px;
    }
    .services-list div p{
        font-size: 40px;
    }
    .services-list div a{
        text-decoration: none;
        color:var(--txtcolor);
        font-size: 19px;
        margin-top: 20px;
        display: inline-block;
        color:peru;
        font-weight: 600;
    }
    .services-list div:hover{
        background-color:var(--hveff) ;
        transform: translateY(-15px);
    }
    .work-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:50px ;
        margin: auto;
        /* padding: 0px 5%; */
    
    }
    .work-list2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 70px;
        margin: auto;
        margin-top:70px ;
        padding: 0px ;
    }
    .work-list2{
        display: none;
        
    }
 
    .serve-title{
        text-align: center;
    }
    .work img{
        width: 100%;
        height: 1000px;
        border-radius:10px ;
        display: block;
        transition: transform 0.5s;
    }
    .work-list2 .work img{
        height: 1000px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
         height: 1000px;
        margin: auto;
        
    }
    .about-col-1, .about-col-2{
        flex-basis:  100% ;
        /* border: 1px solid red; */
    }
    .layout h3{
        font-weight: 500px;
        margin-bottom: 20px;
        font-size: 50px;
        color: var(--txtcolor2);
    }
    .layout p{
        font-size: 40px;
        color: var(--txtcolor2);
    }
    .layout a{
        margin-top: 20px;
        color: blue;
        font-size: 35px;
        background: var(--txtcolor2);
        width: 100px;
        height: 100px;
        text-decoration: none;
        line-height: 60px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .about-col-1{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .Myname{
        text-align: center;
    }
    header{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(30px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-16px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0,0,0,0.7);
        backdrop-filter: blur(10px);
        width: 100%;
        text-align: center;
        padding-left: 35px;
        transition: 0.2s ease-in-out;
        display: flex;
        align-items: center;
      
    }
    .nav-item{
        margin: 70px 0;
    }
    .nav-menu.active{
        right: 0;
    }
    .nav-link{
        font-size: 50px;
        color: white;
        /* font-weight: 700; */
    
    

}
.navigation{
    display: none;
}
.dark-mode{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.line{
    width: 90%;
    height: 1px;
    background-color: grey;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid var(--spancl);
    text-decoration: none;
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--spancl3) ;
    transition: background 0.5s;
}
.btn:hover{
    background: var(--spancl);
    color:black;
    
}

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
    
}
.contact-left p a{
    margin-top: 30px;
    font-size: 40px;
    text-decoration: none;
    color: var(--txtcolor);
}
.contact-left p i{
    color: var(--spancl);
    margin-right: 15px;
    font-size: 40px;
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a {
    text-decoration:none;
    font-size: 75px;
    /* display:none; */
    margin-right:25px ;
    color:var(--abtcl) ;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--spancl);
    transform: translateY(-5px);
}
.btn.btn2{
    display: block;
    
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 95%;
    border: 0;
    outline: none;
    background-color: var(--divbackgrd);
    padding: 15px;
    color:var(--txtcolor) ;
    margin: 15px 0;
    font-size: 40px;
    border-radius: 6px;
}
form .btn2{
    padding: 15px 35px;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}
.copy-right{
    width: 100%;
    text-align: center;
    padding:25px 0px;
    background: var(--divbackgrd);
    font-weight: 300;
    margin-top: 20px;

}
.copy-right p{
    font-size: 35px;
}
#body{
    padding: 10px 0px 10px 5%;
}
.row2{
    display: block;
 
}
.fa-skills{
    font-size: 100px;
    margin: auto;
    
}
.fa-html5{
    color: orange;
    transition:transform 0.5s;
}
.fa-html5:hover{
    transform: scale(1.1)
}
.fa-css3-alt{
    color: blue;
    transition:transform 0.5s;
}
.fa-css3-alt:hover{
    transform: scale(1.1)
}
.fa-square-js{
    color: rgb(200, 200, 67);
    transition:transform 0.5s;
}
.fa-square-js:hover{
    transform: scale(1.1)
}
.fa-vuejs{
    color: rgb(18, 121, 18);
    transition:transform 0.5s;
}
.VueJs{
    transition:transform 0.5s; 

}

.VueJs:hover{
    transform: scale(1.1)
}
.fa-github{
    font-size: 100px;
    transition:transform 0.5s;

}
.fa-github:hover{
    transform: scale(1.1)

}
.fa-git-alt{
    color: brown;
    
    transition:transform 0.5s;
}
.fa-git-alt:hover{
    transform: scale(1.1)
}
.image7{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    text-align: center;
    margin-top: 30px;
}
.github h1{
    margin-top: 20px;
}
}










@media screen and (max-width: 850px){
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 50px;
        width: 600px;
        margin: auto;
        margin-top: 50px;
        /* border: 1px solid red; */
    

    }
    .header-text{
        margin-top: 30%;
        font-size: 50px;
        padding-top:20px;
        font-family: 'Barlow Condensed', sans-serif;
    }
    nav ul li{
        display: block;
        list-style: none;
        margin: 50px 30px;
     
    
     
    }
    nav ul li a{
        text-decoration: none;
        font-size: 30px;
        color: white;
        position: relative;
       
        
    }

    .work-list2{
        display: none;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 800px;
     
    }
    .work img{
        height: 800px;
        border-radius:10px ;
        display: block;
        transition: transform 0.5s;
    }
    .work-list2 .work img{
        height: 800px;
        
       
    } 
    .row{
        padding: 0;
        color:var(--abtcl);
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-col-1 img{
        width:650px
    }
    .Myname{
        text-align: center;
    }
    .about-col-2 p{
        font-size: 25px;
        text-align: justify;
    }
    .sub-title{
        text-align: center;
    }

    nav .fa-solid{
        display: block;
        font-size: 35px;
    }
    nav ul{
        background:var(--spancl2);
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
 
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 30px;
        cursor: pointer;
    }

 #sideMenu{
    margin-right: 0;
}

.light{
    font-size: 35px;
    font-family: monospace;
}
#icon{
    font-size: 35px;
    display: block;
}

.dark-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 50px;
}
nav .fa-solid{
    display: block;
    font-size: 60px;
}
.services-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
}
.services-list div{
    background-color: var(--divbackgrd);
    padding: 50px;
    width: 90%;
    font-weight: 700px;
    border-radius: 10px;
    text-align: justify;
    transition: background 0.5s, transform 0.5s;
    
}
.services-list div i{
    font-size: 85px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 50px;
    font-weight: 500px;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 40px;
}
.services-list div a{
    text-decoration: none;
    color:var(--txtcolor);
    font-size: 30px;
    margin-top: 20px;
    display: inline-block;
    color:peru;
    font-weight: 600;
}
.services-list div:hover{
    background-color:var(--hveff) ;
    transform: translateY(-15px);
}
.work-list{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 70px;
    margin-top:50px ; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  
}
.work-list2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 70px;
    margin-top:50px ;
    padding: 0px ;
}
.work-list2{
    display: none;
    
}


.MeMe {
    padding: 5px;
     font-size: 25px;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     
 }


 .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--spancl);
    text-decoration: none;
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--spancl3) ;
    transition: background 0.5s;
}
.btn:hover{
    background: var(--spancl);
    color:black;
    
}

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: var(--spancl);
    margin-right: 15px;
    font-size: 27px;
}

.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a {
    text-decoration:none;
    font-size: 30px;
    /* display:none; */
    margin-right:15px ;
    color:var(--abtcl) ;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--spancl);
    transform: translateY(-5px);
}
.btn.btn2{
    display: block;
    
}
.contact-right form{
    width: 100%;
}

form .btn2{
    padding: 14px 30px;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--spancl);
    text-decoration: none;
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--spancl3) ;
    transition: background 0.5s;
}
.btn:hover{
    background: var(--spancl);
    color:black;
    
}

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 35px;
}
.contact-left p a{
    margin-top: 30px;
    font-size: 35px;
    text-decoration: none;
    color: var(--txtcolor);
}
.contact-left p i{
    color: var(--spancl);
    margin-right: 15px;
    font-size: 35px;
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a {
    text-decoration:none;
    font-size: 50px;
    /* display:none; */
    margin-right:25px ;
    color:var(--abtcl) ;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--spancl);
    transform: translateY(-5px);
}
.btn.btn2{
    display: block;
    
}
.contact-right form{
    width: 100%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form input, form textarea{
    width: 95%;
    border: 0;
    outline: none;
    background-color: var(--divbackgrd);
 
    color:var(--txtcolor) ;
    margin: 15px 0;
    font-size: 35px;
    border-radius: 6px;
 
}
form .btn2{
    padding: 14px 30px;
    font-size: 35px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}
#body{
    padding: 10px 5%;
  
    
}

.copy-right{
    width: 100%;
    text-align: center;
    padding:25px 0px;
    background: var(--divbackgrd);
    font-weight: 300;
    margin-top: 20px;

}
.copy-right p{
    font-size: 35px;

}
.contact-left h1{
    font-size: 70px;
}
.row2{
    display: block;
 
}
.fa-skills{
    font-size: 100px;
    margin: auto;
    
}
.fa-html5{
    color: orange;
    transition:transform 0.5s;
}
.fa-html5:hover{
    transform: scale(1.1)
}
.fa-css3-alt{
    color: blue;
    transition:transform 0.5s;
}
.fa-css3-alt:hover{
    transform: scale(1.1)
}
.fa-square-js{
    color: rgb(200, 200, 67);
    transition:transform 0.5s;
}
.fa-square-js:hover{
    transform: scale(1.1)
}
.fa-vuejs{
    color: rgb(18, 121, 18);
    transition:transform 0.5s;
}
.VueJs{
    transition:transform 0.5s; 

}

.VueJs:hover{
    transform: scale(1.1)
}
.fa-github{
    font-size: 100px;
    transition:transform 0.5s;

}
.fa-github:hover{
    transform: scale(1.1)

}
.fa-git-alt{
    color: brown;
    
    transition:transform 0.5s;
}
.fa-git-alt:hover{
    transform: scale(1.1)
}
.image7{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    text-align: center;
    margin-top: 30px;
}
.github h1{
    margin-top: 20px;
}










}
@media screen and (max-width: 600px) {
    #header{
         background-image: url(images/trialanderror.jpg); 
        background-size: cover;
        background-position: center;
    }   
    .about-col-1 img{
        width: 330px;
    }
    .header-text{
        margin-top: 35%;
        padding-top:20px;
        font-family: 'Barlow Condensed', sans-serif;
    }
    .header-text h1{
        font-size: 50px;
        font-family: 'Barlow Condensed', sans-serif;
        
    }

    nav .fa-solid{
        display: block;
        font-size: 35px;
    }
    nav ul{
        background:var(--spancl2);
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li a {
        font-size: 30px;
    }
  
    nav ul li{
        display: block;
        list-style: none;
        margin: 30px 20px;
     
    
     
    }
    nav ul .fa-solid{
        position: absolute;
        top: 35px;
        left: 30px;
        cursor: pointer;
       
    }
    .about{
        padding: 0;
        color:var(--abtcl);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .about-col-2 p{
       font-size: 25px;
       text-align: justify;
       display: flex;
       justify-content: center;
       align-items: center;
       margin:0;
    }
    .tab-links{
        font-size: 15px;
        
    }
    .tab-contents ul li{
        font-size: 16px;
    }
    .sub-title{
        font-size: 40px;
        text-align: center;
    }
    .about-col-1, .about-col-2{
        flex: basis 100% ;
    
    }
    .tab-titles{
        display: flex;
        margin: 30px 0 40px;
    }
    .tab-links{
        margin-right: 50px;
        font-size: 30px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    #lights{
        font-size: 20px;
        font-family: monospace;
    }
    #icons{
        font-size: 20px;
        display: block;
    }
    .dark-mode{
        margin-left: auto;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    #logo h1{
        font-family: 'Pattaya', sans-serif;
        font-weight: 700;
        font-size: 50px;
    }
    #sideMenu{
        margin-right: 0;
    }
    .services-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
        width: 100%;
    }
    .services-list div{
        background-color: var(--divbackgrd);
        padding: 20px;
        width: 95%;
        font-size: 25px;
        font-weight: 700px;
        border-radius: 10px;
        text-align: justify;
        transition: background 0.5s, transform 0.5s;
        
    }
    
    .services-list div i{
        font-size: 65px;
        margin-bottom: 30px;
    }
    .services-list div h2{
        font-size:30px;
        font-weight: 500px;
        margin-bottom: 15px;
    }
    .services-list div p{
        font-size: 20px;
    }
    .services-list div a{
        text-decoration: none;
        color:var(--txtcolor);
        font-size: 20px;
        margin-top: 20px;
        display: inline-block;
        color:peru;
        font-weight: 600;
    }
    .services-list div:hover{
        background-color:var(--hveff) ;
        transform: translateY(-15px);
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top:50px ;
    }
    .work-list2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top:50px ;
        padding: 0px ;
    }
    .work-list2{
        display: none;
        
    }
    .port.container .show
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        width: 350px;
       
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        width: 320px;
        height: 600px;
        /* border: 1px solid purple; */
    }
    .work img{
        width: 100%;
        height: 600px;
        border-radius:10px ;
        display: block;
        transition: transform 0.5s;
    }
    .work-list2 .work img{
        height: 600px;
    }
    .work-list2 .work img{
        height: 600px;
    }

    .about .container{
        /* border: 1px solid yellow; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
     
       

    }
    .row{
        padding: 0;
        color:var(--abtcl);
        width: 100%;
        padding-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
   
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 50px;
        margin: auto;
        margin-top: 50px;
        /* border: 1px solid red; */
        width: 320px;
    

    }
    .work-list2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 50px;
        margin-top:50px ;
        width: 320px;
        margin: auto;
        margin-top: 50px;
        padding: 0px ;
    }
    #port{
        /* border: 1px solid yellow; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Myname{
        text-align: center;
    }
    .MeMe {
       padding: 5px;
        font-size: 25px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .sub-title{
        text-align: center;
        font-size: 40px;
    }
    .tab-titles{
        display: flex;
        gap: 30px;
        padding: 10px 0px 0px 5px;
        text-align: center;
      
    }
    .tab-contents{
        margin: auto;
        padding: 0px 0px 0px 5px;
        margin-top: -15px;
       
    }
    .work-list2{
        display: none;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
   
    }
    #about p{
        font-size: 22px;
        width: calc(100% - 0.5);
    }

    nav {
        width: 100%;
    }
 
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background-color: var(--divbackgrd);
        padding: 15px;
        color:var(--txtcolor) ;
        margin: 15px 0;
        font-size: 25px;
        border-radius: 6px;
    }
    .typing{
        position: relative;
        margin-left: 10px;
        color:rgb(190, 72, 72);
    }
    .layout h3{
        font-weight: 500px;
        margin-bottom: 20px;
        font-size: 22px;
        color: var(--txtcolor2);
    }
    .layout p{
        font-size: 15px;
        color: var(--txtcolor2);
    }
    .layout a{
        margin-top: 20px;
        color: blue;
        font-size: 18px;
        background: var(--txtcolor2);
        width: 80px;
        height: 80px;
        text-decoration: none;
        line-height: 60px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .bar{
        display: block;
        width: 35px;
        height: 5px;
        margin: 7px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--txtcolor);
        border-radius: 2px;
        z-index: 999;
    
    }
    .navbar{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        
    
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-15px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0,0,0,0.7);
        backdrop-filter: blur(25px);
        width: 100%;
        height: 100vh;
        text-align: center;
        padding: 5px;
        transition: 0.2s ease-in-out;
        display: flex;
        align-items: center;
        padding-top: 90px;
        z-index: 1;

        
      
      
    }
    .hamburger:active{
        scroll-behavior: smooth;
    }
    .nav-item{
        margin: auto;
        margin: 30px 0;
        
        
    }
    .nav-menu.active{
        right: 0;
        transition: 0.3s ease-out;
        scroll-behavior: smooth;
    }
    .nav-link{
        font-size: 25px;

    
    

}

.line{
    width: 90%;
    height: 1px;
    background-color: grey;
}
#scrollup{
    color: var(--spancl3);
    font-size: 50px;
}
#btn-scroll{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius:50% ;
    /* box-shadow:0 0 10px rgba(0,0,0, 0.25) ; */
    background-color: transparent;
    border: none;
    outline: none;
    color: var();
    z-index: 999;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--spancl);
    text-decoration: none;
    padding: 14px 50px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--spancl3) ;
    transition: background 0.5s;
}
.btn:hover{
    background: var(--spancl);
    color:black;
    
}

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 25px;
}
.contact-left p a{
    margin-top: 30px;
    font-size: 25px;
    text-decoration: none;
    color: var(--txtcolor);
}
.contact-left p i{
    color: var(--spancl);
    margin-right: 15px;
    font-size: 30px;
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a {
    text-decoration:none;
    font-size: 45px;
    margin-right:15px ;
    color:var(--abtcl) ;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--spancl);
    transform: translateY(-5px);
}
.btn.btn2{
    display: block;
    
}
.contact-right form{
    width: 100%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form .btn2{
    padding: 10px 20px;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}
#body{
    padding: 10px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.copy-right{
    width: 100%;
    text-align: center;
    padding: 0px;
    background: var(--divbackgrd);
    font-weight: 300;
    margin-top: 20px;

}
.contact-left h1{
    font-size: 40px;
}
.copy-right p{
    font-size: 20px;
}
.row2{
    display: block;
 
}
#msg{
    color: #61b752;
    margin-top: -50px;
    display: block;
}
.span1{
    font-size: 22px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: white;
    margin-right: 5px;
}
.nav-link{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    gap: 15px;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 30px 0 40px;

    
}

.tab-links::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: var(--hveff);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 60%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0px ;
    font-size: 20px;
    font-weight: 400;

}
.tab-contents ul li span{
    color: var(--spancl);
    font-size:18px ;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--divbackgrd);
    padding: 15px;
    color:var(--txtcolor) ;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}
.image1 img{
    width: 350px;
    height: 350px;
 
    padding: 20px;
    border-radius: 5px;
}
.image2 img{
    width: 350px;
    height: 200px;

    padding: 20px;
    border-radius: 5px;
}
.image3 img{
    width: 350px;

    padding: 20px;
    border-radius: 5px;
}
.image4 img{
    width: 350px;

    padding: 20px;
    border-radius: 5px;
}
.image5 img{
    width: 350px;
 
    padding: 20px;
    border-radius: 5px;
}
.image6 img{
    width: 350px;
  
    padding: 20px;
    border-radius: 5px;
}
.image1{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
    width: 100%;
}
.layout{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.3), blue);
    border-radius: 10px;
    font-size: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s; 
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layout{
    height: 100%;
}
.layout h3{
    font-weight: 500px;
    margin-bottom: 20px;
    font-size: 45px;
    color: var(--txtcolor2);
}
.fa-skills{
    font-size: 120px;
    margin: auto;
    
}
.fa-html5{
    color: orange;
    transition:transform 0.5s;
}
.fa-html5:hover{
    transform: scale(1.1)
}
.fa-css3-alt{
    color: blue;
    transition:transform 0.5s;
}
.fa-css3-alt:hover{
    transform: scale(1.1)
}
.fa-square-js{
    color: rgb(200, 200, 67);
    transition:transform 0.5s;
}
.fa-square-js:hover{
    transform: scale(1.1)
}
.fa-vuejs{
    color: rgb(18, 121, 18);
    transition:transform 0.5s;
}
.VueJs{
    transition:transform 0.5s; 

}

.VueJs:hover{
    transform: scale(1.1)
}
.fa-github{
    font-size: 120px;
    transition:transform 0.5s;

}
.fa-github:hover{
    transform: scale(1.1)

}
.fa-git-alt{
    color: brown;
    
    transition:transform 0.5s;
}
.fa-git-alt:hover{
    transform: scale(1.1)
}
.image7{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    text-align: center;
    margin-top: 30px;
}
.github h1{
    margin-top: 20px;
}
.vueproject{
    text-align: center;
    color: blue;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}
.Javascript h2{
    font-size: 30px;
}
.git h2{
    font-size: 30px;
}
.html h2{
    font-size: 30px;
}
.VueJs h2{
    font-size: 30px;
}
.github h2{
    margin-top: 20px;
    font-size: 30px;
}
.css h2{
    font-size: 30px;
}
}




@media screen and (max-width: 500px) {
    #header{
         background-image: url(images/trialanderror.jpg); 
        background-size: cover;
        background-position: center;
    }   
    .about-col-1 img{
        width: 330px;
    }
    .header-text{
        margin-top: 45%;
        padding-top:20px;
        font-family: 'Barlow Condensed', sans-serif;
    }
    

}
